/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #18181b;
  --secondary-color: rgba(63, 63, 70, 0.5);
  --text-color: white;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* project specific style */

body {
  background-image: url("./night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Weather Display */
.weather {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr;
  border-radius: 1rem;
  width: 600px;
  padding: 30px;
  font-weight: bold;
  /* position */
  position: absolute;
  top: 20%;
  left: 8%;
}
/* top */
.weather > .top {
  grid-column: 1 / -1;
  font-size: 45px;
}

.top > .condition {
  color: rgb(176, 176, 176);
}

.weather .condition {
  font-size: 50%;
  margin-top: 5px;
}

/* Bottom left */
.weather > .b-left {
  font-size: 40px;
}

.temp {
  font-family: "Nunito", sans-serif;
  font-size: 10rem;
  position: relative;
  margin-top: 20px;
}
.temp::after {
  content: "°C";
  font-size: 20px;
  top: 5px;
  position: absolute;
  color: rgb(188, 188, 188);
}

/* Bottom Right */
.weather > .b-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-left: 2px solid var(--secondary-color);
  padding-left: 30px;
  padding-top: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.weather-icon {
  height: 80px;
  width: 80px;
}
/* search form */
form {
  padding: 5px;
  font-weight: bold;
  /* position top right */
  position: absolute;
  top: 10px;
  right: 10px;
}

form > input {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 1.5rem;
  border: 2px solid black;
  width: 300px;
  height: 45px;
  background-color: var(--secondary-color);
}

.err-msg {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  color: red;
}

.hide {
  display: none !important;
}
/* loader */

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
